<template name="Home">
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 style="backgroud-color:#ffffff" > India's fastest growing platform for the trucking industry</h1>
                <hr>
                <h2>We are simplying logistics through technology</h2>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Why ProTrucker?</h2>
                    <hr class="light">
                    <p class="text-faded">  </p>
                    <a href="#" class="btn btn-default btn-xl">Get Started!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How it works</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <!--<i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>-->
                        <i class ="fa fa-5x fa-power-off wow bounceIn text-primary"></i>
                        <h3>Simple</h3>
                        <p class="text-muted"> Connects shippers with trusted
carriers on demand </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-5x fa-check wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Trustworthy</h3>
                        <p class="text-muted">  Clear rates, real time tracking,
and fast pay to carriers</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-5x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Stress Free</h3>
                        <p class="text-muted">   Connect with reliable truckers and carriers through one platform</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-5x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Great customer service</h3>
                        <p class="text-muted"> 24/7 one-on-one customer support </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!--
 <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-right">
                    <h2 class="section-heading">We've got what you need!</h2>
                    <hr class="light">
                    <p class="text-faded">  </p>
                    <a href="#" class="btn btn-default btn-xl">Get Started!</a>
                </div>
 
            </div>
        </div>
    </section>

-->



<!--
    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>


                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
             <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
-->
<!--
 <div class="container">
  <div class="card">
    <div class="face front">
      <img width="300px" src="logo.svg">
    </div>
    <div class="face back">
      <p>Web Ascender is an innovation services company that truly cares about your happiness and the success of your project. We are leaders in web development, mobile applications and internet marketing, but our team doesn't just make beautiful digital products. We successfully solve real problems for people and businesses.</p>
    </div>
  </div>
</div>
-->



    <aside class="bg-dark">
       <div class="container text-left"> 
       <div class="item"> 
       
            <!-- <div class="card">
             <div class="face front"> -->

                  <img src="./img/shipper.png" align="left"  width="400" height="300"> <br> 
                
                <!--<div class="face back">   -->
                 <span class="caption"><h2>I am a shipper </h2> 
                    
                    <br> 
                   
                    <h4> 1.  Book trucks instantly at a great rate
                    <br> 
                    <br>

                    2.  A nearby driver accepts your order 
                    <br> 
                    <br>
                    3. Track your goods and get proof of delivery
</h4> 

                </span>
               
             </div>
            
         
       
               
           
            
          
   

              <div class="item2">
             <img src="./img/carrier.png" align="right"  width="400" height="300" >
               <span class="caption"><h2>I am a carrier </h2>
                 <br> 
                    
                     <h4> 1.  Book trucks instantly at a great rate
                    <br> 
                    <br>

                    2.  A nearby driver accepts your order 
                    <br> 
                    <br>
                    3. Track your goods and get proof of delivery
                     </h4> 
                     </span>
             </div>
             
             </div>
    
    </aside>

  
    





<!--
         <aside class="bg-dark">
                   <div class="container text-left"> 
                    <div id="slider">
                        <div class="box-slider">
                            <div class="item-slider type-1">
                                <img src="shippers.png" class="img-1" alt="" />
                               
                                    <div class="name">Trucker Path Truckloads</div>
                                    <div class="but-free"><span>Free While in Beta</span></div>
                                    <div class="caption">Ship cheaper, faster, easier. Find truckloads and net new business.</div>
                                    <p>The platform has over 350,000 truckers and is constantly growing. We're testing the Truckloads platform now with a limited number of users. Sign up for exclusive access to thousands of carriers or loads in your area. Claim your spot in the Marketplace today!</p>
                                    <div class="buttons"><a id="join-now-for-free" href="/truckloads/">Join now for free</a></div>
                                </div>
                            </div>
                            <div class="item-slider type-2">
                                <img src="carriers.png" alt="" />
                              
                                    <div class="name">Trucker Path App</div>
                                    <div class="caption">America's most popular app for drivers</div>
                                    <p>Over 350,000 truck drivers and thousands of trucking companies chose Trucker Path over road atlases and other apps. Find truck stops, parking, rest areas, open/closed weigh stations, and much more. Information and reviews are very accurate and up-to-date. Why? Because everyone contributes!</p>
                                    
                                </div>
                            </div>
                        </div>
                       
  </aside>
--> 
<!-- jQuery library (served from Google) -->



    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to try us?  Submit the form below and we will contact you!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>608-422-9656</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com"> request@protrucker.in</a></p>
                </div>
            </div>
        </div>
    </section>



    <!-- jQuery -->
    <script src ="slider.js"> </script> 
    <script src="js/jquery.js"></script>
     <script src="js/form.js"></script>


    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>
   

</template>



